In [1]:
!pwd

/home/quyanh/Projects/credit-ranking/credit-ranking-code/monitoring_service/nbs

In [2]:
import pandas as pd
import fastparquet
from pathlib import Path
import numpy as np

random_seed = 17
np.random.seed(random_seed)

## Load data

In [3]:
OUTSIDE_DATA_DIR = Path("../data")
DATA_PATH = OUTSIDE_DATA_DIR / "org-credit-dataset.parquet"
if not DATA_PATH.is_file():
    raise Exception("DATA_PATH not found")

In [4]:
df_orig = pd.read_parquet(DATA_PATH, engine='fastparquet')
df_orig

,income_expenditure_difference,income,working_agency,total_expenses,type_of_residence,bank_product,total_income,loan_term,salary_allowance,number_of_products_in_use,...,expected_loan_interest,labor_contract,duration_of_relationship_with_the_bank,proposed_term,economic_sector,debt_group_information,overdue_history,result,event_timestamp,id
0,8615330.0,14615330.0,cq hanh chi su nghiep,6000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,14615330.0,36.0,12615330.0,0,...,0.0,hop dong khong xac dinh thoi han,2,36.0,y te,khong co du no,khong co quan he tin dung,BBB,2024-04-19 15:35:21.814673+00:00,0
1,81762782.0,94962782.0,cq hanh chi su nghiep,13200000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,94962782.0,12.0,13962782.0,1,...,1200000.0,hop dong khong xac dinh thoi han,5,12.0,van phong,chi co no nhom 1,da co quan he nhung chua tung qua han,BBB,2024-04-19 15:35:21.814673+00:00,1
2,181350000.0,205000000.0,doanh nghiep tu nhan,23650000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,205000000.0,0.0,135000000.0,0,...,4400000.0,hop dong khong xac dinh thoi han,0,0.0,nganh khac,chi co no nhom 1,da co quan he nhung chua tung qua han,A-,2024-04-19 15:35:21.814673+00:00,2
3,28800000.0,35800000.0,cq hanh chi su nghiep,7000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,35800000.0,60.0,15800000.0,1,...,0.0,"cong chuc, vien chuc",3,60.0,giao dich,chi co no nhom 1,da co quan he nhung chua tung qua han,A+,2024-04-19 15:35:21.814673+00:00,3
4,13500000.0,30000000.0,cq hanh chi su nghiep,16500000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,30000000.0,12.0,20000000.0,0,...,1500000.0,hop dong khong xac dinh thoi han,5,12.0,van phong,chi co no nhom 1,da co quan he nhung chua tung qua han,AA-,2024-04-19 15:35:21.814673+00:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20700000.0,25700000.0,cq hanh chi su nghiep,5000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,25700000.0,60.0,8700000.0,0,...,0.0,"cong chuc, vien chuc",2,60.0,giao dich,chi co no nhom 1,da co quan he nhung chua tung qua han,A-,2024-04-19 15:35:21.814673+00:00,95
96,3200000.0,5200000.0,cq hanh chi su nghiep,2000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,5200000.0,36.0,5200000.0,0,...,0.0,"cong chuc, vien chuc",0,36.0,y te,khong co du no,da co quan he nhung chua tung qua han,AA-,2024-04-19 15:35:21.814673+00:00,96
97,7500000.0,15000000.0,loai hinh khac,7500000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,15000000.0,0.0,15000000.0,0,...,0.0,"cong chuc, vien chuc",0,0.0,van phong,chi co no nhom 1,da co quan he nhung chua tung qua han,A-,2024-04-19 15:35:21.814673+00:00,97
98,5200000.0,8200000.0,doanh nghiep nha nuoc duoi 50% von dieu le,3000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,8200000.0,0.0,8200000.0,0,...,0.0,hop dong khong xac dinh thoi han,0,0.0,van phong,khong co du no,da co quan he nhung chua tung qua han,BBB,2024-04-19 15:35:21.814673+00:00,98
99,48000000.0,53000000.0,cq hanh chi su nghiep,5000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,53000000.0,12.0,53000000.0,0,...,0.0,"cong chuc, vien chuc",0,12.0,van phong,khong co du no,khong co quan he tin dung,AAA,2024-04-19 15:35:21.814673+00:00,99

In [5]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 36 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   income_expenditure_difference           100 non-null    float64
 1   income                                  100 non-null    float64
 2   working_agency                          100 non-null    object
 3   total_expenses                          100 non-null    float64
 4   type_of_residence                       100 non-null    object
 5   bank_product                            100 non-null    object
 6   total_income                            100 non-null    float64
 7   loan_term                               100 non-null    float64
 8   salary_allowance                        100 non-null    float64
 9   number_of_products_in_use               100 non-null    int64
 10  casa_balance                            100 non-null    float64
 11  customer_segment                        100 non-null    object
 12  marital_status                          100 non-null    object
 13  number_of_dependents                    100 non-null    int64
 14  age                                     100 non-null    int64
 15  term_deposit_balance                    100 non-null    float64
 16  educational_level                       100 non-null    object
 17  insurance                               100 non-null    object
 18  position                                100 non-null    object
 19  number_of_non_credit_products           100 non-null    int64
 20  housing                                 100 non-null    object
 21  debt_repayment_source                   100 non-null    object
 22  work_tenure                             100 non-null    float64
 23  bank_debt_balance                       100 non-null    float64
 24  number_of_banks_with_outstanding_debt   100 non-null    int64
 25  loan_amount                             100 non-null    float64
 26  expected_loan_interest                  100 non-null    float64
 27  labor_contract                          100 non-null    object
 28  duration_of_relationship_with_the_bank  100 non-null    int64
 29  proposed_term                           100 non-null    float64
 30  economic_sector                         100 non-null    object
 31  debt_group_information                  100 non-null    object
 32  overdue_history                         100 non-null    object
 33  result                                  100 non-null    object
 34  event_timestamp                         100 non-null    datetime64[ns, UTC]
 35  id                                      100 non-null    int64
dtypes: datetime64[ns, UTC](1), float64(13), int64(7), object(15)
memory usage: 28.2+ KB

In [6]:
desc_df = df_orig.describe()
desc_df

,income_expenditure_difference,income,total_expenses,total_income,loan_term,salary_allowance,number_of_products_in_use,casa_balance,number_of_dependents,age,term_deposit_balance,number_of_non_credit_products,work_tenure,bank_debt_balance,number_of_banks_with_outstanding_debt,loan_amount,expected_loan_interest,duration_of_relationship_with_the_bank,proposed_term,id
count,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,100.000000,1.000000e+02,100.000000,1.000000e+02,100.000000,100.000000,1.000000e+02,100.000000,100.000000,1.000000e+02,100.000000,1.000000e+02,1.000000e+02,100.000000,100.000000,100.000000
mean,2.001700e+07,3.103762e+07,1.102062e+07,3.103762e+07,26.010000,1.879917e+07,0.300000,2.232915e+07,0.410000,38.470000,1.282493e+08,4.050000,157.310000,9.580000e+07,0.620000,9.580000e+07,1.058173e+06,22.400000,26.010000,49.500000
std,2.767551e+07,3.993142e+07,2.347599e+07,3.993142e+07,24.991512,2.619675e+07,0.522233,6.820932e+07,0.683056,8.100948,7.694233e+08,1.882267,96.887073,6.479073e+07,1.022771,6.479073e+07,2.142133e+06,200.890643,24.991512,29.011492
min,-2.576000e+06,5.200000e+06,0.000000e+00,5.200000e+06,0.000000,3.203945e+06,0.000000,0.000000e+00,0.000000,24.000000,0.000000e+00,0.000000,12.000000,1.000000e+07,0.000000,1.000000e+07,0.000000e+00,0.000000,0.000000,0.000000
25%,6.599559e+06,1.120296e+07,5.000000e+06,1.120296e+07,12.000000,8.187500e+06,0.000000,1.149948e+05,0.000000,32.000000,0.000000e+00,3.000000,81.000000,4.875000e+07,0.000000,4.875000e+07,0.000000e+00,0.000000,12.000000,24.750000
50%,1.100000e+07,1.970000e+07,6.465000e+06,1.970000e+07,12.000000,1.083474e+07,0.000000,1.269072e+06,0.000000,38.000000,0.000000e+00,4.000000,141.000000,8.000000e+07,0.000000,8.000000e+07,0.000000e+00,1.000000,12.000000,49.500000
75%,2.452500e+07,3.047580e+07,1.003750e+07,3.047580e+07,48.000000,1.667954e+07,1.000000,1.023035e+07,1.000000,43.250000,0.000000e+00,5.000000,240.000000,1.500000e+08,1.000000,1.500000e+08,1.405500e+06,4.000000,48.000000,74.250000
max,1.813500e+08,2.735000e+08,2.296000e+08,2.735000e+08,84.000000,2.000000e+08,2.000000,4.311540e+08,2.000000,57.000000,7.000000e+09,9.000000,444.000000,3.000000e+08,5.000000,3.000000e+08,1.500000e+07,2011.000000,84.000000,99.000000

## Mock drift data

In [7]:
drift_df = df_orig.copy()
drift_df["income"] = drift_df["income"] * 100
drift_df["number_of_dependents"] = drift_df["number_of_dependents"] * 100
drift_df.describe()

,income_expenditure_difference,income,total_expenses,total_income,loan_term,salary_allowance,number_of_products_in_use,casa_balance,number_of_dependents,age,term_deposit_balance,number_of_non_credit_products,work_tenure,bank_debt_balance,number_of_banks_with_outstanding_debt,loan_amount,expected_loan_interest,duration_of_relationship_with_the_bank,proposed_term,id
count,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,100.000000,1.000000e+02,100.000000,1.000000e+02,100.000000,100.000000,1.000000e+02,100.000000,100.000000,1.000000e+02,100.000000,1.000000e+02,1.000000e+02,100.000000,100.000000,100.000000
mean,2.001700e+07,3.103762e+09,1.102062e+07,3.103762e+07,26.010000,1.879917e+07,0.300000,2.232915e+07,41.000000,38.470000,1.282493e+08,4.050000,157.310000,9.580000e+07,0.620000,9.580000e+07,1.058173e+06,22.400000,26.010000,49.500000
std,2.767551e+07,3.993142e+09,2.347599e+07,3.993142e+07,24.991512,2.619675e+07,0.522233,6.820932e+07,68.305612,8.100948,7.694233e+08,1.882267,96.887073,6.479073e+07,1.022771,6.479073e+07,2.142133e+06,200.890643,24.991512,29.011492
min,-2.576000e+06,5.200000e+08,0.000000e+00,5.200000e+06,0.000000,3.203945e+06,0.000000,0.000000e+00,0.000000,24.000000,0.000000e+00,0.000000,12.000000,1.000000e+07,0.000000,1.000000e+07,0.000000e+00,0.000000,0.000000,0.000000
25%,6.599559e+06,1.120296e+09,5.000000e+06,1.120296e+07,12.000000,8.187500e+06,0.000000,1.149948e+05,0.000000,32.000000,0.000000e+00,3.000000,81.000000,4.875000e+07,0.000000,4.875000e+07,0.000000e+00,0.000000,12.000000,24.750000
50%,1.100000e+07,1.970000e+09,6.465000e+06,1.970000e+07,12.000000,1.083474e+07,0.000000,1.269072e+06,0.000000,38.000000,0.000000e+00,4.000000,141.000000,8.000000e+07,0.000000,8.000000e+07,0.000000e+00,1.000000,12.000000,49.500000
75%,2.452500e+07,3.047580e+09,1.003750e+07,3.047580e+07,48.000000,1.667954e+07,1.000000,1.023035e+07,100.000000,43.250000,0.000000e+00,5.000000,240.000000,1.500000e+08,1.000000,1.500000e+08,1.405500e+06,4.000000,48.000000,74.250000
max,1.813500e+08,2.735000e+10,2.296000e+08,2.735000e+08,84.000000,2.000000e+08,2.000000,4.311540e+08,200.000000,57.000000,7.000000e+09,9.000000,444.000000,3.000000e+08,5.000000,3.000000e+08,1.500000e+07,2011.000000,84.000000,99.000000

In [8]:
drift_df.head()

,income_expenditure_difference,income,working_agency,total_expenses,type_of_residence,bank_product,total_income,loan_term,salary_allowance,number_of_products_in_use,...,expected_loan_interest,labor_contract,duration_of_relationship_with_the_bank,proposed_term,economic_sector,debt_group_information,overdue_history,result,event_timestamp,id
0,8615330.0,1.461533e+09,cq hanh chi su nghiep,6000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,14615330.0,36.0,12615330.0,0,...,0.0,hop dong khong xac dinh thoi han,2,36.0,y te,khong co du no,khong co quan he tin dung,BBB,2024-04-19 15:35:21.814673+00:00,0
1,81762782.0,9.496278e+09,cq hanh chi su nghiep,13200000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,94962782.0,12.0,13962782.0,1,...,1200000.0,hop dong khong xac dinh thoi han,5,12.0,van phong,chi co no nhom 1,da co quan he nhung chua tung qua han,BBB,2024-04-19 15:35:21.814673+00:00,1
2,181350000.0,2.050000e+10,doanh nghiep tu nhan,23650000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,205000000.0,0.0,135000000.0,0,...,4400000.0,hop dong khong xac dinh thoi han,0,0.0,nganh khac,chi co no nhom 1,da co quan he nhung chua tung qua han,A-,2024-04-19 15:35:21.814673+00:00,2
3,28800000.0,3.580000e+09,cq hanh chi su nghiep,7000000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,35800000.0,60.0,15800000.0,1,...,0.0,"cong chuc, vien chuc",3,60.0,giao dich,chi co no nhom 1,da co quan he nhung chua tung qua han,A+,2024-04-19 15:35:21.814673+00:00,3
4,13500000.0,3.000000e+09,cq hanh chi su nghiep,16500000.0,ho khau thuong tru,co tien gui thanh toan hoac sp khac,30000000.0,12.0,20000000.0,0,...,1500000.0,hop dong khong xac dinh thoi han,5,12.0,van phong,chi co no nhom 1,da co quan he nhung chua tung qua han,AA-,2024-04-19 15:35:21.814673+00:00,4

### Mock target

In [9]:
y = drift_df["result"].tolist()
np.random.shuffle(y)
# y

### Generate request df

Include `request_id`, `customer_ids`, `result`

In [10]:
import itertools
from collections import Counter

request_id_list = []
customer_ids_list = []
N_SAMPLES = len(y)

for i in range(N_SAMPLES):
    request_id = f"uuid-{i}"
    request_id_list.append(request_id)
    customer_id = i
    customer_ids_list.append(customer_id)

print(f"unique uuid = {len(Counter(request_id_list).keys())}")

unique uuid = 100

In [11]:
request_df = pd.DataFrame()
request_df['request_id'] = request_id_list
request_df['customer_id'] = customer_ids_list
request_df['result'] = y
request_df

   request_id  customer_id result
0      uuid-0            0     AA
1      uuid-1            1    AA+
2      uuid-2            2     A-
3      uuid-3            3    AA-
4      uuid-4            4    AA+
..        ...          ...    ...
95    uuid-95           95     BB
96    uuid-96           96    AA+
97    uuid-97           97    AA-
98    uuid-98           98     BB
99    uuid-99           99    AA+

[100 rows x 3 columns]

## Save mock data

In [12]:
NORMAL_DATA_PATH = OUTSIDE_DATA_DIR / "mock_normal_data.parquet"
DRIFT_DATA_PATH = OUTSIDE_DATA_DIR / "mock_drift_data.parquet"
REQUEST_DATA_PATH = OUTSIDE_DATA_DIR / "mock_request_data.csv"

df_orig.to_parquet(NORMAL_DATA_PATH, engine="fastparquet")
drift_df.to_parquet(DRIFT_DATA_PATH, engine="fastparquet")
request_df.to_csv(REQUEST_DATA_PATH, index=False)